<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529712825170-9ora2lesp1ob77bbtg7oa02vem20eo46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529712825170-9ora2lesp1ob77bbtg7oa02vem20eo46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529712825170-got5a49crnqh337jplur8uts4ieu0q03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqvBd8nj9xtmfevqL_EOO8GCHxJcFTjWI</string>
	<key>GCM_SENDER_ID</key>
	<string>529712825170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dormdee</string>
	<key>PROJECT_ID</key>
	<string>dormdee-9f6ed</string>
	<key>STORAGE_BUCKET</key>
	<string>dormdee-9f6ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529712825170:ios:fa04ee8ebef1f8e154f08b</string>
</dict>
</plist>